#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.read-the-docs {
  color: #888;
}
