
.NavigationBar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1025px) {
  /* Styles for desktops */
  #root {
    width:90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
  }
  
  .formGroup{
    display: flex;
    width: 400px;
    
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .select {
    height: 50px;
    width: 15%;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .NavigationButton{
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
  }

  .FiltersButton{
    height:50px;
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10%;
  }
  form{
    width: 50%
  }

  .badge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height:40px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    border-radius: 20px;
  }

  /* .badge:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height:40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    transition: 0.25s;
  } */

}



/* Mobile Devices (phones) */
@media (max-width: 599px) {
  /* Styles for phones */
  .card {
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .select {
    margin: auto;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .button{
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Tablet Devices */
@media (min-width: 600px) and (max-width: 1024px) {
  .card {
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  }

  .select {
    margin: auto;
    height: 50px;
    font-size: 23px;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .NavigationButton{
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
  }

  .FiltersButton{
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
  }

}

/* Desktop Devices */
